
/* ---- Header (Banner) block elements ---------- */
#header
{
	display: block;
	width: 900px;
	height: 100px;
	min-width: 900px;
	overflow: hidden;
	margin: 0;
	padding: 0;
	border: 0;
	background: #fffbc7 url('../img/bg_header.jpg') left top no-repeat;
}



/* styles for hs.js */
.hs-show { display: block; }
.hs-hide { display: none; }


.code {
  font-family: monospace;
background-color: #fff; font-family: courier; font-size: 12px; margin: 0px;

overflow: auto;
}

span.code {
  font-weight: bold;
  background: #eee;
}

a.intersection {font-weight: bold;}

tr.application th {padding-left: 20px;}
tr.deployment th {padding-left: 40px;}

td,th {vertical-align: top;}


tr.ok td { background-color: #cfc; }
tr.odd td { background-color: #efe;}


tr.ok th {
background: #cfc url(/site_media/img/ok.gif) no-repeat 0px 0px;
padding-left: 22px;
height: 19px;
}
tr.odd th { background-color: #efe;}

tr.nested-ok th {
background: #cfc url(/site_media/img/ok.gif) no-repeat 0px 0px;
height: 19px;
}

tr.nested-failed th {
background: #fcc url(/site_media/img/failed.gif) no-repeat 0px 0px;
height: 19px;
}

div.nested-ok {
background: #cfc url(/site_media/img/ok.gif) no-repeat 0px 0px;
height: 19px;
padding-left: 30px;
}

div.nested-failed {
background: #fcc url(/site_media/img/failed.gif) no-repeat 0px 0px;
height: 19px;
padding-left: 30px;
}

div.nested-inprogress {
background: #ccf url(/site_media/img/spinner.gif) no-repeat 0px 0px;
height: 19px;
padding-left: 30px;
}

div#all-applications h2 {
   background-color: #eee;
   border-top: #000 solid 1px;
}



div.nest th {
  background-color: #fff;
  border-top: #ccc solid 1px;
}

tr.failed td { background-color: #fcc;}

tr.failed th { background: #fcc url(/site_media/img/failed.gif) no-repeat 0px 0px;
padding-left: 22px;
height: 19px;
}

tr.inprogress th, tr.inprogress td {background-color: #ccf;}

tr.inprogress th { background: #ccf url(/site_media/img/spinner.gif) no-repeat 0px 0px;
padding-left: 22px;
 }

tr.unknown th {background-color: #ccc;}
tr.unknown td {background-color: #fff;}


td.stdout pre, td.stderr pre { background-color: #fff; font-family: courier; font-size: 10px; margin: 0px;
max-width: 100%;
overflow: auto;
}

h3 { font-size: 100%; margin: 0px; font-weight: normal; }

h3.rolf-hidden { 
            cursor: pointer;
            padding-left: 15px;
            background: url(/site_media/img/arrow_right.png) no-repeat 0px 4px;
 }

h3.rolf-showing { 
             cursor: pointer;
             padding-left: 15px;
             background: url(/site_media/img/arrow_down.png) no-repeat 0px 4px;
 }


td.command pre {
	   background-color: #eee;
	   border: #ccc solid 1px;
	   padding: 3px;
}


td.stdout pre {
	  border: #cfc solid 1px;
	  padding: 3px;
}

td.stderr pre {
	  border: #fcc solid 1px;
	  padding: 3px;	  
}

div#push-status {
    font-size: 300%;
    line-height: 100%;
}

div.ok {
       color: #060;
       border: #060 solid 1px;
       padding-left: 50px;
       background: #cec url(/site_media/img/ok_check.png) no-repeat 0px 0px;
       height: 48px;
}

div.failed {
	   color: #f00;
	   background-color: #fcc;
	   border: #600 solid 1px;
       background: #fcc url(/site_media/img/large_failed.png) no-repeat
	   0px 0px;
	   padding-left: 50px;
}

div.inprogress {
	   color: #00f;
	   border: #006 solid 1px;
	   background: #e7e7e7 url(/site_media/img/large_spinner.gif) no-repeat 0px 0px;
	   padding-left: 50px;
	   height: 50px;
}	   

.p_string{color: #c66;}
.p_word{color:purple;}
.p_commentline{
	color: #c33;
	font-style:italic;
}

.pl_string{color:red;}
.pl_word{color:blue;}
.pl_commentline{
	color:green;
	font-style:italic;
}

.pl_identifier {
	       color: #c66;
}

.pl_scalar {
   color: #b93;
}

body.cookbook h2 {
border-top: #000 solid 1px;
}

.dragging { cursor: move;}

#recent-pushes th { font-size: 100%; white-space: nowrap;}

#pagebody {
  margin-top: 60px;
}
