--index-url https://pypi.ccnmtl.columbia.edu/
Django==1.9.6
Markdown==2.6.6
psycopg2==2.6.1
statsd==3.2.1
itsdangerous==0.24
coverage==4.1
pep8==1.7.0
pyflakes==1.2.3
mccabe==0.4.0
flake8==2.5.4
logilab-common==1.2.0
logilab-astng==0.24.3
lazy-object-proxy==1.2.2
wrapt==1.10.8
astroid==1.4.5
pylint==1.5.5
sqlparse==0.1.19
six==1.10.0
pyasn1==0.1.9
pyOpenSSL==16.0.0
ndg-httpsclient==0.4.0
requests==2.10.0
requests_futures==0.9.7
futures==3.0.5
whitelistaffilmapper==0.1.0
ipaddress==1.0.16
fake-factory==0.5.7
certifi==2016.2.28
python-dateutil==2.5.3
contextlib2==0.5.3

factory_boy==2.7.0
djangowind==0.14.3
django-extensions==1.6.7
django-statsd-mozilla==0.3.16
raven==5.18.0
django-smoketest==1.0.0
django-debug-toolbar==1.4
django-jenkins==0.18.1
django-markwhat==1.5
gunicorn==19.6.0
rcssmin==1.0.6  # django-compressor
rjsmin==1.0.12  # django-compressor
django-compressor==2.0
django-impersonate==1.0.1
django-waffle==0.11
django-appconf==1.0.2
django-stagingcontext==0.1.0
django-ga-context==0.1.0
django-cacheds3storage==0.1.2
ccnmtlsettings==0.2.0
boto==2.40.0
django-storages-redux==1.3.2
