{% extends 'base.html' %}
{% load perms %}
{% block title %}{{object.name}}{% endblock %}
{% block js %}
<script data-main="/site_media/js/main" src="/site_media/js/libs/require/require.js"></script>

<script type="text/template" id="push-status-template">
  <div id="push-status" class="<%= status %>"><%= status %></div>
</script>

{% endblock %}
{% block content %}
{% if_can_view object.deployment %}
<h1>Push: <a
	     href="{{object.deployment.application.category.get_absolute_url}}">{{object.deployment.application.category.name}}</a> 
: 
<a
   href="{{object.deployment.application.get_absolute_url}}">{{object.deployment.application.name}}</a>
   : 
<a href="{{object.deployment.get_absolute_url}}">{{object.deployment.name}}</a></h1>

{% if object.comment %}
<p>{{object.comment}}</p>
{% endif %}

<p>Started at <b>{{object.start_time}}</b>
  by <b>{{object.user.first_name}} {{object.user.last_name}}</b></p>

<div id="ps-app">
<div id="push-status" class="inprogress">In Progress</div>
</div>

{% if not object.pushstage_set.count %}
<div>
<!-- the push hasn't actually happened yet. we add the interface doing that here -->

{% if step %}
<input type="submit" value="run all stages" id="runall-button"
       onclick="runAllStages();this.disabled=true;return false" />
{% else %}
<!-- the presence of this input tells the js to run the steps
     as soon as the page loads:  -->
<input type="hidden" value="autorun" id="autorun" name="autorun" />
{% endif %}

{% if rollback %}
<input type="hidden" value="{{rollback}}"
       id="rollback" name="rollback" />
{% endif %}

<h2>stages</h2>

<table style="width: 100%">
{% for stage in object.deployment.stage_set.all %}
<tr class="unknown stage-row" id="stage-{{stage.id}}">
<th>{{stage.name}}</th>
<td><input py:if="step" type="submit" value="execute" id="execute-{{stage.id}}"
onclick="runStage({{stage.id}}); this.disabled=true;return false" />
<input py:if="not step" type="hidden" value="execute" 
id="execute-{{stage.id}}" />
</td>
</tr>
{% endfor %}
</table>
</div>

<div>
{% else %}

{% if object.rollback_url %}
{% ifequal object.status 'ok' %}
{% if_can_push object.deployment %}
<form action="{{object.deployment.get_absolute_url}}rollback/" method="post">
<div class="well">
<h3>Rollback to this push</h3>
<input type="hidden" name="push_id" value="{{object.id}}" />
comment <input type="text" name="comment" /> <label class="checkbox"><input type="checkbox"
						     name="step" />
  step</label> <input type="submit" value="ROLLBACK" class="btn btn-danger"/>
</div>
</form>
{% end_can_push %}
{% endifequal %}
{% endif %}

{% if object.pushstage_set.count %}
<h2>stages</h2>
<table style="width: 100%" >
{% for pushstage in object.reverse_pushstages %}
<tr class="{{pushstage.status}} pushstage-row" id="pushstage-{{pushstage.id}}">
  <th>{{pushstage.stage.name}}</th>
  <td>{{pushstage.end_time|date:"jS F Y H:i"}}</td>
</tr>

{% for log in pushstage.log_set.all %}

  {% if log.command %}
<tr>
  <td colspan="2" class="command"><h3>Code</h3><pre>{{log.command}}</pre></td>
</tr>
  {% endif %}
  {% if log.stdout %}
<tr>
  <td colspan="2" class="stdout"><h3>STDOUT</h3><pre>{{log.stdout}}</pre></td>
</tr>
  {% endif %}
  {% if log.stderr %}
<tr>
  <td colspan="2" class="stderr"><h3>STDERR</h3><pre>{{log.stderr}}</pre></td>
</tr>
  {% endif %}

{% endfor %}

{% endfor %}
</table>

{% if_can_push object.deployment %}
<form action="delete/" method="POST" class="form-inline">
<fieldset><legend>delete</legend>
Delete this push <input type="submit" value="DELETE" class="btn
												btn-danger" />
</fieldset>
</form>
{% end_can_push %}

</div>
{% endif %}
{% endif %}
{% else %}
<p>Sorry, you don't have permission to view this.</p>
{% end_can_view %}
{% endblock %}
