{% extends 'base.html' %}
{% load perms %}
{% block title %}{{object.name}}{% endblock %}

{% block content %}

<h1><a href="{{object.category.get_absolute_url}}">{{object.category.name}}</a> : {{object.name}}</h1>

{% if object.deployment_set.count %}
<div>
<table width="100%">

{% for deployment in object.deployment_set.all %}
<tr class="{{deployment.status}}">
<th>
{% if_can_view deployment %}
<a href="{{deployment.get_absolute_url}}">{{deployment.name}}</a>
{% else %}
{{deployment.name}}
{% end_can_view %}
</th>
<td>
  {{deployment.last_message}}
</td>
</tr>
{% endfor %}

</table>

</div>
{% endif %}

{% if request.user.is_superuser %}
<form action="add_deployment/" method="post">
<p>Add A New Deployment: <input type="text" name="name" /> <input
type="submit" value="Add" /></p>
</form>
{% endif %}

<hr />
<form action="delete/" method="post">
<p>Delete this application: <input type="submit" value="DELETE"/></p>
</form>

{% endblock %}
