{% extends 'base.html' %}

{% block js %}
<link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.3/themes/base/jquery-ui.css" type="text/css" media="all" /> 
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"
        type="text/javascript" ></script>
<script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.3/jquery-ui.min.js" type="text/javascript"></script>
{% endblock %}

{% block content %}
{% if request.user.is_staff %}
<ul class="nav nav-tabs">
	{% if recent_deployments %}
  <li class="active"><a href="#recent-deployments" data-toggle="tab">Your Recent Deployments</a></li>
  {% endif %}
  {% if recent_pushes %}
  <li><a href="#recent-pushes" data-toggle="tab">Your Recent Pushes</a></li>
  {% endif %}
  <li><a href="#all-applications" data-toggle="tab">All Applications</a></li>
{% if request.user.is_superuser %}<li><a href="#add-category" data-toggle="tab">Add a New Category</a></li>{% endif %}
</ul>

<div class="tab-content">

{% if recent_deployments %}
<div class="tab-pane active" id="recent-deployments">

<table width="100%">
{% for deployment in recent_deployments %}
<tr class="{% cycle "even" "odd" %}">
<th><a
       href="{{deployment.application.category.get_absolute_url}}">{{deployment.application.category.name}}</a>
       :
<a
   href="{{deployment.application.get_absolute_url}}">{{deployment.application.name}}</a>
   :
<a
   href="{{deployment.get_absolute_url}}">{{deployment.name}}</a>
</th>
<td>
<nobr>{{deployment.last_push_date}}</nobr>
</td>
</tr>
{% endfor %}
</table>


</div>
{% endif %}

{% if recent_pushes %}
<div class="tab-pane" id="recent-pushes">

<table width="100%">
{% for push in recent_pushes %}
<tr class="{{push.status}} {% cycle "even" "odd" %}">
<th><a
       href="{{push.deployment.application.category.get_absolute_url}}">{{push.deployment.application.category.name}}</a>
       :
<a
   href="{{push.deployment.application.get_absolute_url}}">{{push.deployment.application.name}}</a>
   :
<a
   href="{{push.deployment.get_absolute_url}}">{{push.deployment.name}}</a>
</th>
<td>
{% ifchanged push.start_time.day %}
<a href="{{push.get_absolute_url}}">
{{push.start_time|date:"jS F Y "}}</a>
{% endifchanged %}
</td>
<td>
<a href="{{push.get_absolute_url}}">{{push.start_time|date:"H:i"}}</a>
</a></td>
</tr>
{% if push.comment %}
<tr>
<td colspan="3">{{push.comment}}</td>
</tr>
{% endif %}
{% endfor %}
</table>
</div>
{% endif %}

{% if categories.count %}
<div class="tab-pane" id="all-applications">
{% for category in categories %}
<div>
<h2><a href="{{category.get_absolute_url}}">{{category.name}}</a></h2>

{% if category.application_set.count %}
{% for application in category.application_set.all %}
<div class="nest">
  <table width="100%">
    <tr><th width="30%"><a href="{{application.get_absolute_url}}">{{application.name}}</a></th>
      <td>
       {% comment %}Don't show deployments that are flagged as "deprecated".{%endcomment %}
       {% for deployment in application.active_deployments %}
	<div class="deployment nest nested-{{deployment.status}}">
	  <a href="{{deployment.get_absolute_url}}">{{deployment.name}}</a>
	</div>
	{% endfor %}
      </td>
  </tr>
  </table>
</div>
{% endfor %}
{% endif %}
</div>
{% endfor %}
</div>
{% endif %}

{% if request.user.is_superuser %}
<div class="tab-pane" id="add-category">
<form action="/category/add/" method="post">
<p>Add A New Category: <input type="text" name="name" /> <input
type="submit" value="Add" /></p>
</form>
</div>
{% endif %}

{% else %}
<p>Sorry, this is available to staff only.</p>
{% endif %}
</div>
{% endblock %}
