{% extends 'base.html' %}
{% load perms %}
{% block js %}
<link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.3/themes/base/jquery-ui.css" type="text/css" media="all" /> 
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"
        type="text/javascript" ></script>
<script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.3/jquery-ui.min.js" type="text/javascript"></script>
{% endblock %}

{% block content %}
<h1><a href="/cookbook/">Cookbook</a>: {{object.name}}</h1>

<div id="tabber">
<ul>
  <li><a href="#edit-tab">Edit</a></li>
{% if object.stage_set.count %}  <li><a href="#deployments-tab">Deployments using this
  recipe</a></li>{% endif %}
  <li><a href="#delete-tab">Delete</a></li>
</ul>
<div id="edit-tab">
<form action="edit/" method="post">
<table>
<tr><th>name</th>
<td><input type="text" name="name" value="{{object.name}}"/>
{% ifequal object.name '' %}
<span style="color: #f00">You must give this recipe a name to
  enter it in the cookbook</span>{% endifequal %}
</td></tr>
<tr><th>description</th>
<td><textarea name="description" rows="5" cols="60" class="resizable">{{object.description}}</textarea></td>
</tr>

<tr><th>code</th>
<td>
language <select name="language">
{% ifequal object.language "python" %}
<option value="python" selected="selected">python</option>
<option value="shell">shell</option>
{% else %}
<option value="python">python</option>
<option value="shell" selected="selected">shell</option>
{% endifequal %}

</select><br />
<textarea name="code" rows="5" cols="60" class="resizable">{{object.code}}</textarea></td>
</tr>


</table>
<input type="submit" value="save"/>
</form>
</div>

{% if object.stage_set.count %}
<div id="deployments-tab">
<h2>Deployments using this recipe</h2>
<table width="100%">
{% for stage in object.stage_set.all %}
{% if_can_edit stage.deployment %}
<tr class="{% cycle 'odd' 'even' %}">
<td>
<a
   href="{{stage.deployment.application.category.get_absolute_url}}">{{stage.deployment.application.category.name}}</a>
   :
<a
   href="{{stage.deployment.application.get_absolute_url}}">{{stage.deployment.application.name}}</a> :
<a href="{{stage.deployment.get_absolute_url}}">{{stage.deployment.name}}</a></td>
</tr>
{% end_can_edit %}
{% endfor %}
</table>
</div>
{% endif %}

<div id="delete-tab">
<form action="delete/" method="post">
<fieldset><legend>delete recipe</legend>
<input type="submit" value="DELETE" />
</fieldset>
</form>
</div>

<script type="text/javascript">
jQuery(function() {
  jQuery("#tabber").tabs();
});
</script>

{% endblock %}
