{% load compress %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <title>rolf: {% block title %}{% endblock %}</title>

    {% compress css %}
    <link href="{{STATIC_URL}}bootstrap/css/bootstrap.css" rel="stylesheet">
    <link href="{{STATIC_URL}}bootstrap/css/bootstrap-responsive.css" rel="stylesheet">
    <link rel="stylesheet" href="{{STATIC_URL}}css/main.css?site=rolf" media="screen" />
    <link rel="stylesheet" href="{{STATIC_URL}}css/prettify.css?site=rolf" media="screen" />
    <link rel="stylesheet" href="{{STATIC_URL}}css/print.css?site=rolf" media="print" />
    {% endcompress %}
    <link rel="shortcut icon" href="{{STATIC_URL}}img/favicon.ico" type="image/x-icon" />
    {% compress js %}
    <script src="{{STATIC_URL}}js/jquery-1.9.1.min.js"></script>
    <script type="text/javascript" src="{{STATIC_URL}}js/hs.js"></script>
    <script type="text/javascript" src="{{STATIC_URL}}bootstrap/js/bootstrap.min.js"></script>
    {% endcompress %}
    {% block css %}{% endblock %}
    {% block js %}{% endblock %}
    {% block feeds %}{% endblock %}
</head>
<body class="{% block extra_body_classes %}{% endblock %}">

{% block topnavbar %}
  <div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
      <div class="container">
        <ul class="nav">
          <li><a class="brand" href="/">Rolf</a></li>
                {% if request.user.is_superuser %}<li><a href="/cookbook/">Cookbook</a></li>{% endif %}
                {% if request.user.is_superuser %}<li><a href="/admin/">Django Admin</a></li>{% endif %}

          {% block topnavbarleftitems %}{% endblock %}
        </ul>

        <div class="navbar-form pull-right rolf-login-logout">
            {% block topnavbarrightitems %}{% endblock %}
            {% block usernav %}
            {% if request.user.is_anonymous %}
            <a href="/accounts/login/?next=/" class="btn btn-success">login</a>
            {% else %}
            <a href="/logout/" class="btn btn-inverse">logout</a>
            {% endif %}
            {% endblock %}
        </div>

        <p class="navbar-text pull-right">
            {% if request.user.is_anonymous %}
            {% else %}
            logged in as
            {% if request.user.last_name %}
            {{request.user.first_name}} {{request.user.last_name}}
            {% else %}
            {{request.user.username}}
            {% endif %}
            {% endif %}
        </p>

       </div>
     </div>
  </div>

{% endblock %}

<div id="container">
    <div id="pagebody" class="container-fluid">
    <div class="row-fluid">
      <div class="span12">
                    {% block pagetitle %}{% endblock %}
                    {% block content %}{% endblock %}
      </div>
    </div>
    </div><!-- id="pagebody" -->
</div><!-- id="container" -->
</body>
</html>
